* {
    box-sizing: border-box;
    padding: 0; margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}
img {
    width: 100%;
}

.header {
    background-image: url("../images/gray-surface-450055.jpg");
    display: flex;
    justify-content: center;
}

.header ._header {
    width: 1170px;
    height: 40px;
    color: #fff;

    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.header ._header p {
    text-transform: uppercase;
}   

.share-list {
    display: flex; 
}

.shareItem {
    padding: 0px 10px;
    text-transform: capitalize;
}

.item-faq {
    text-transform: uppercase;
}

.shareItem a {
    color: #fff;
}
 /* end header */

 /* start menuBlock */
 .menuBlock {
     display: flex;
     justify-content: center;
 }

 .menuBlock ._menuBlock {
     width: 1170px;
     display: flex;
     justify-content: space-between;
     height: 120px;
     line-height: 120px;
}

.menuBlock ._menuBlock p {
    font-size: 30px;
    font-weight: 400;
}

 .listMenu{
    display: flex;
    list-style: none;
}

.listMenu .menuItem {
    padding: 0 10px;
}

.menuBlock a {
    color: #000;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 200;
}
 /* end menuBlock */

 /* start banner */
.banner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

 .blockItem {
    position: relative;
    height: 400px;
    overflow: hidden;
} 
.blockItem img {
    width: 100%;
}
.blockItem .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.5);
}

.overlay > p{
    font-size: 30px;
    text-transform: uppercase;

    position: absolute;
    top: 35%;
    left: 43%;
    color: #fff;
}

.kidButton {
    display: flex;

    position: absolute;
    top: 53%;
    left: 40%;

    background: #fff;
    height: 30px;
    align-items: center;

}
.kidButton > p {
    margin:0 5px;
    text-transform: capitalize;
}
 /* end banner */

 .container .main {
    display: flex;
    justify-content: center;
 }

 .container .main ._main {
    width: 1170px;
 }

 /*start topbar */
 .topBar {
    margin: 30px 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
 }

 .freeShipItem {
    display: flex; 
}

.content-freeShip {
    margin-left: 10px;

}
.content-freeShip p:first-child{
    text-transform: uppercase;
    font-weight: 600px;
    font-size: 20px;
}

.content-freeShip p:last-child{
    color: #999;
    font-size: 14px;
}
.content-freeShip p::first-letter{
    text-transform: uppercase;
}
 /*end topbar */
 ._main .titlePrimary {
    text-align: center;
    margin-top: 30px;
 }

._main .titlePrimary .title-1{
    font-size: 30px;
    text-transform: uppercase;
 }

 ._main .titlePrimary .contentTitle{
     text-transform: capitalize;
     padding: 10px 0;
     color: #999;
 }
/* end title primary */

/*start blockImg*/

.blockImg img {
    width: 100%;
}

.blockImg {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 200px;
    overflow: hidden;
}

.blockImg-1 {
    position: relative;
    width: 380px;
}

.blockImg-2 {
    position: relative;
    width: 760px;
}


.blockImg-1 span {
    position: absolute;
    top: 45%;
    left: 35%;
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
}

.blockImg-2 span {
    position: absolute;
    top: 45%;
    left: 5%;
    color: rgb(180, 21, 21);
    font-size: 22px;
    text-transform: capitalize;
}

.blockImg .itemOder {
    order: 1;
}
/*end blockImg*/

/*start barSelect */
.barSelect {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ddd;
    height: 60px;
    border-radius: 5px;
}
.selectBox {
    border-radius: 20px;
    height: 40px;
    width: 200px;
    padding: 10px;
}

.filterBtn { 
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgba(250, 65, 65, 0.664);
    border-radius: 20px;
    height: 40px;
    width: 200px;
}

.filterBtn a {
    color: #fff;
}
/*end barSelect */

/*--- start mainItem --*/
.main{
    margin-bottom: 30px;
}
.mainItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    margin-top: 30px;
}

.imgItem img {
    width: 100%;
}
.imgItem > p {
    text-transform: capitalize;
    font-size: 16px;
    padding: 10px 0;
}

.imgItem > span {
    font-size: 14px;
}

.imgItem .priceItem {
    color: red;
    font-size: 16px;
}
/*--- end mainItem --*/

/*-- start bestnewBlock --*/
.bestNewBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px; 
    margin-top: 30px;
}

.bestNew {
    display: flex;

}
.bestNew .left{
    margin-right: 10px;
    color: #fff;
    text-align: center;
}

.bestNew .left .day {
    background-color: black;
    padding: 10px 5px;
}

.bestNew .left .day p:first-child {
    font-size: 40px;

}
.bestNew .left .shareBtn {
    background-color: rgb(245, 155, 37);
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px 5px;
    display: flex;
    position: relative;
}

.bestNew .left .shareBtn .share-list{
    opacity:0;
    position: absolute;
    top:0;
    left:100%;
    background-color: rgb(245, 155, 37);
    padding: 10px 5px;
    transition: 0.3s;
}
.bestNew .left .shareBtn:hover .share-list{
    opacity:1;
}
.bestNew .right img {
    height: 300px;

}

.bestNew .right p {
    margin-top: 10px;
}
.bestNew .right p:nth-of-type(1) {
    font-size: 20px;
}

.bestNew .right p:nth-of-type(2) {
    font-size: 14px;
}

.bestNew .right p:last-child {
    font-size: 11px;
    color: #ddd;
}
/*-- end bestnewBlock --*/

/*-- start infoItem --*/
.infoItem {
    display: flex;
    justify-content: center;
    background-color: #ddd;
}

.infoItem ._infoItem {
    display: flex;
    justify-content: space-between;
    width: 1170px;

}

.infoItem ._infoItem .infoItem-1 {
    width: 270px;
}

.infoItem-1 p:first-of-type {
    font-weight: 600;
    padding: 8px 0;
}

.infoItem-1 p {
    text-transform: capitalize;
    padding: 8px 0;
}
/*-- end infoItem --*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    height: 40px;
    margin-bottom: 30px;
}

 @media only screen and (max-width: 480px) {

    .header ._header p {
        font-size: 16px;
    }
    .header ._header {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    .menuBlock ._menuBlock {
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;   
        line-height: 40px;
        padding: 20px 0;
    }
    .menuBlock a {
        font-size: 16px;
    }
    .banner {        
        grid-template-columns: repeat(1, 1fr);
    }

    /*-- start main--*/
    .container .main ._main {
        width: 100%;
    }
    .topBar {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px 0;
    }
    .content-freeShip p:first-child {
        font-size: 16px;
    }
    .content-freeShip p:last-child {
        font-size: 12px;
    }
    ._main .titlePrimary .title-1 {
        font-size: 20px;
    }

    .blockImg {
        flex-direction: column;
        height: 100%;
        margin-top: 0;      
    }
    .blockImg img {
        width: 100%;
        width: 480px;
        height: 400px;
        margin-top: 30px;
    }

    .barSelect {
        flex-wrap: wrap;
        height: 200px;
        padding: 20px 0;
    }

    .selectBox {
        border-radius: 20px;
        height: 40px;
        width: 45%;
        padding: 10px;
    }

    .filterBtn {
        width: 90%;
        /* margin: 0 20px; */
    }
    .mainItem {
        grid-template-columns: repeat(2, 1fr);
    }
    .imgItem > p {
        padding: 10px 5px;
    }
    .imgItem > span {
        padding: 5px;
    }

    .bestNewBlock {
        grid-template-columns: repeat(1, 1fr);
    }

    .infoItem ._infoItem {
        width: 100%;
        flex-wrap: wrap;
        margin-left: 30px;
    }

    .infoItem ._infoItem .infoItem-1 {
        width: 50%;
    }
    /*-- end main--*/

}